<a href="https://colab.research.google.com/github/JESSYCAMARTINS/kaggle/blob/main/C%C3%B3pia_de_Ol%C3%A1%2C_este_%C3%A9_o_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df= pd.read_excel("WDW_Ride_Data_DW.xlsx")
df

,Ride_name,Park_location,Park_area,Ride_type_all,Ride_type_thrill,Ride_type_spinning,Ride_type_slow,Ride_type_small_drops,Ride_type_big_drops,Ride_type_dark,...,Age_interest_teens,Age_interest_adults,Height_req_inches,Ride_duration_min,Open_date,Age_of_ride_days,Age_of_ride_years,Age_of_ride_total,TL_rank,TA_Stars
0,Alien Swirling Saucers,HS,Toy Story Land,spinning,No,Yes,No,No,No,No,...,Yes,Yes,32,1.50,2018-06-30,480,1.314168,1 years 3 months 24 days,31.0,NaN
1,Astro Orbiter,MK,Tomorrowland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,1995-02-25,9006,24.657084,24 years 7 months 27 days,43.0,3.5
2,Avatar Flight of Passage,AK,Pandora,thrill,Yes,No,No,No,No,No,...,Yes,Yes,44,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,9.0,5.0
3,Big Thunder Mountain Railroad,MK,Frontierland,"thirll, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,40,3.50,1980-09-23,14274,39.080082,39 years 0 months 29 days,8.0,4.5
4,Buzz Lightyear's Space Ranger Spin,MK,Tomorrowland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,4.00,1998-10-07,7686,21.043121,21 years 0 months 15 days,32.0,4.5
5,Dinosaur,AK,Dinoland USA,"thrill, small drops, dark, scary",Yes,No,No,Yes,No,Yes,...,Yes,Yes,40,3.25,1998-04-22,7854,21.503080,21 years 6 months 2 days,24.0,4.0
6,Dumbo the Flying Elephant,MK,Fantasyland,"spinning, slow",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,29.0,4.5
7,Expedition Everest,AK,Asia,"thrill, big drops, dark",Yes,No,No,No,Yes,Yes,...,Yes,Yes,44,2.75,2006-04-07,4947,13.544148,13 years 6 months 17 days,1.0,5.0
8,Frozen Ever After,EC,World Showcase,"slow, small drops, dark",No,No,Yes,Yes,No,Yes,...,Yes,Yes,0,5.00,2016-06-21,1219,3.337440,3 years 4 months 3 days,27.0,4.0
9,Gran Fiesta Tour Starring The Three Caballeros,EC,World Showcase,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,8.00,2007-04-02,4587,12.558522,12 years 6 months 22 days,47.0,4.0
10,Haunted Mansion,MK,Liberty Square,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,7.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,2.0,4.5
11,It's a Small World,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,10.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,16.0,4.0
12,Journey Into Imagination with Figment,EC,Future World,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,11.00,2002-06-01,6353,17.393566,17 years 4 months 23 days,53.0,3.0
13,Jungle Cruise,MK,Adventureland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,9.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,19.0,4.0
14,Kali River Rapids,AK,Asia,"thrill, water, small drops, spinning",Yes,Yes,No,Yes,No,No,...,Yes,Yes,38,3.50,1999-02-15,7555,20.684463,20 years 8 months 6 days,21.0,4.5
15,Kilimanjaro Safaris,AK,Africa,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,18.50,1998-04-22,7854,21.503080,21 years 6 months 2 days,11.0,4.5
16,Living with the Land,EC,Future World,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,13.75,1982-10-01,13536,37.059548,37 years 0 months 21 days,42.0,4.0
17,Mad Tea Party,MK,Fantasyland,spinning,No,Yes,No,No,No,No,...,Yes,Yes,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,20.0,4.0
18,Main Street Vehicles,MK,Main Street USA,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,3.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,NaN,4.5
19,Mission Space,EC,Future World,"thrill, spinning, dark",Yes,Yes,No,No,No,Yes,...,Yes,Yes,40,5.75,2003-10-01,5866,16.060233,16 years 0 months 22 days,33.0,3.5
20,Na'vi River Journey,AK,Pandora,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,25.0,4.0
21,Peter Pan's Flight,MK,Fantasyland,"slow, small drops",No,No,Yes,Yes,No,No,...,Yes,Yes,0,2.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,18.0,4.0
22,Pirates of the Caribbean,MK,Adventureland,"slow, small drops, dark",No,No,Yes,Yes,No,Yes,...,Yes,Yes,0,8.50,1973-12-17,16746,45.848049,45 years 10 months 5 days,12.0,4.5
23,Primeval Whirl,AK,Dinoland USA,"thrill, small drops, spinning",Yes,Yes,No,Yes,No,No,...,Yes,Yes,48,1.25,2002-04-18,6397,17.514031,17 years 6 months 6 days,41.0,4.0
24,Prince Charming Regal Carrousel,MK,Fantasyland,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,2.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,51.0,4.5
25,Rock 'n' Roller Coaster,HS,Sunset Boulevard,"thrill, big drops",Yes,No,No,No,Yes,No,...,Yes,Yes,48,1.25,1999-07-29,7391,20.235455,20 years 2 months 26 days,13.0,5.0
26,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,38,2.50,2014-05-28,1974,5.404517,5 years 4 months 27 days,10.0,4.5
27,Slinky Dog Dash,HS,Toy Story Land,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,38,2.00,2018-06-30,480,1.314168,1 years 3 months 24 days,14.0,NaN
28,Soarin' Around the World,EC,Future World,"slow, small drops",No,No,Yes,Yes,No,No,...,Yes,Yes,40,5.00,2005-05-05,5284,14.466804,14 years 5 months 19 days,4.0,4.5
29,Space Mountain,MK,Tomorrowland,"thrill, big drops, dark",Yes,No,No,No,Yes,Yes,...,Yes,Yes,44,2.50,1975-01-15,16352,44.769336,44 years 9 months 7 days,5.0,4.5
30,Spaceship Earth,EC,Future World,"slow, dark",No,No,Yes,No,No,Yes,...,Yes,Yes,0,15.00,1982-10-01,13536,37.059548,37 years 0 months 21 days,22.0,4.5
31,Splash Mountain,MK,Frontierland,"thrill, water, big drops",Yes,No,No,No,Yes,No,...,Yes,Yes,40,11.00,1992-07-17,9959,27.266256,27 years 3 months 7 days,7.0,4.5
32,Star Tours,HS,Echo Lake,small drops,No,No,No,Yes,No,No,...,Yes,Yes,40,5.00,1989-12-15,10904,29.853525,29 years 10 months 7 days,15.0,4.5
33,Test Track,EC,Future World,"thrill, small drops",Yes,No,No,Yes,No,No,...,Yes,Yes,40,4.00,1999-03-16,7526,20.605065,20 years 7 months 8 days,23.0,4.5
34,The Barnstormer,MK,Fantasyland,small drops,No,No,No,Yes,No,No,...,No,No,35,1.00,1996-10-01,8422,23.058179,23 years 0 months 21 days,36.0,3.5
35,The Magic Carpets of Aladdin,MK,Adventureland,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,2001-05-23,6727,18.417522,18 years 5 months 1 days,44.0,4.0
36,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,3.25,1999-06-05,7445,20.383299,20 years 4 months 19 days,28.0,4.0
37,The Twilight Zone Tower of Terror,HS,Sunset Boulevard,"thrill, big drops, dark, scary",Yes,No,No,No,Yes,Yes,...,Yes,Yes,40,5.00,1994-07-22,9224,25.253936,25 years 3 months 2 days,3.0,5.0
38,Tomorrowland Speedway,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,32,4.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,38.0,3.5
39,Tomorrowland Transit Authority PeopleMover,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,10.00,1975-07-01,16185,44.312115,44 years 3 months 23 days,30.0,4.0
40,Toy Story Mania,HS,Toy Story Land,spinning,No,Yes,No,No,No,No,...,Yes,Yes,0,8.00,2008-05-31,4162,11.394935,11 years 4 months 24 days,6.0,4.5
41,TriceraTop Spin,AK,Dinoland USA,"slow, spinning",No,Yes,Yes,No,No,No,...,Yes,Yes,0,1.50,2002-03-31,6415,17.563313,17 years 6 months 24 days,45.0,4.0
42,Under the Sea,MK,Fantasyland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,6.25,2012-12-06,2512,6.877481,6 years 10 months 16 days,34.0,4.5
43,Walt Disney World Railroad,MK,Main Street USA,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,20.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,48.0,4.0
44,Walt Disney's Carousel of Progress,MK,Tomorrowland,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,20.75,1975-01-15,16352,44.769336,44 years 9 months 7 days,52.0,4.0
45,Wildlife Express Train,AK,Africa,slow,No,No,Yes,No,No,No,...,Yes,Yes,0,12.00,1998-04-22,7854,21.503080,21 years 6 months 2 days,NaN,3.5

In [2]:
df["Ride_type_thrill"] = np.where(df["Ride_type_thrill"] == "No", 0, 1)

In [3]:
df["Ride_type_spinning"] = np.where(df["Ride_type_spinning"] == "No", 0, 1)

In [4]:
df["Ride_type_slow"] = np.where(df["Ride_type_slow"] == "No", 0, 1)

In [5]:
df["Ride_type_small_drops"] = np.where(df["Ride_type_small_drops"] == "No", 0, 1)

In [6]:
df["Ride_type_dark"] = np.where(df["Ride_type_dark"] == "No", 0, 1)

In [7]:
df["Age_interest_teens"] = np.where(df["Age_interest_teens"] == "No", 0, 1)

In [8]:
df["Age_interest_adults"] = np.where(df["Age_interest_adults"] == "No", 0, 1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Ride_name                  46 non-null     object
 1   Park_location              46 non-null     object
 2   Park_area                  46 non-null     object
 3   Ride_type_all              46 non-null     object
 4   Ride_type_thrill           46 non-null     int64
 5   Ride_type_spinning         46 non-null     int64
 6   Ride_type_slow             46 non-null     int64
 7   Ride_type_small_drops      46 non-null     int64
 8   Ride_type_big_drops        46 non-null     object
 9   Ride_type_dark             46 non-null     int64
 10  Ride_type_scary            46 non-null     object
 11  Ride_type_water            46 non-null     object
 12  Fast_pass                  46 non-null     object
 13  Classic                    46 non-null     object
 14  Age_interest_all           46 non-null     object
 15  Age_interest_preschoolers  46 non-null     object
 16  Age_interest_kids          46 non-null     object
 17  Age_interest_tweens        46 non-null     object
 18  Age_interest_teens         46 non-null     int64
 19  Age_interest_adults        46 non-null     int64
 20  Height_req_inches          46 non-null     int64
 21  Ride_duration_min          46 non-null     float64
 22  Open_date                  46 non-null     datetime64[ns]
 23  Age_of_ride_days           46 non-null     int64
 24  Age_of_ride_years          46 non-null     float64
 25  Age_of_ride_total          46 non-null     object
 26  TL_rank                    44 non-null     float64
 27  TA_Stars                   44 non-null     float64
dtypes: datetime64[ns](1), float64(4), int64(9), object(14)
memory usage: 10.2+ KB

In [10]:
df["Ride_type_big_drops"] = np.where(df["Ride_type_big_drops"] == "No", 0, 1)

In [11]:
df["Ride_type_scary"] = np.where(df["Ride_type_scary"] == "No", 0, 1)

In [12]:
df["Ride_type_water"] = np.where(df["Ride_type_water"] == "No", 0, 1)

In [13]:
df["Fast_pass"] = np.where(df["Fast_pass"] == "No", 0, 1)

In [14]:
df["Classic"] = np.where(df["Classic"] == "No", 0, 1)

In [15]:
df["Age_interest_all"] = np.where(df["Age_interest_all"] == "No", 0, 1)

In [16]:
df["Age_interest_preschoolers"] = np.where(df["Age_interest_preschoolers"] == "No", 0, 1)

In [17]:
df["Age_interest_kids"] = np.where(df["Age_interest_kids"] == "No", 0, 1)

In [19]:
df["Age_interest_teens"] = np.where(df["Age_interest_teens"] == "No", 0, 1)

In [20]:
df

,Ride_name,Park_location,Park_area,Ride_type_all,Ride_type_thrill,Ride_type_spinning,Ride_type_slow,Ride_type_small_drops,Ride_type_big_drops,Ride_type_dark,...,Age_interest_teens,Age_interest_adults,Height_req_inches,Ride_duration_min,Open_date,Age_of_ride_days,Age_of_ride_years,Age_of_ride_total,TL_rank,TA_Stars
0,Alien Swirling Saucers,HS,Toy Story Land,spinning,0,1,0,0,0,0,...,1,1,32,1.50,2018-06-30,480,1.314168,1 years 3 months 24 days,31.0,NaN
1,Astro Orbiter,MK,Tomorrowland,"spinning, slow",0,1,1,0,0,0,...,1,1,0,1.50,1995-02-25,9006,24.657084,24 years 7 months 27 days,43.0,3.5
2,Avatar Flight of Passage,AK,Pandora,thrill,1,0,0,0,0,0,...,1,1,44,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,9.0,5.0
3,Big Thunder Mountain Railroad,MK,Frontierland,"thirll, small drops",1,0,0,1,0,0,...,1,1,40,3.50,1980-09-23,14274,39.080082,39 years 0 months 29 days,8.0,4.5
4,Buzz Lightyear's Space Ranger Spin,MK,Tomorrowland,"spinning, slow",0,1,1,0,0,0,...,1,1,0,4.00,1998-10-07,7686,21.043121,21 years 0 months 15 days,32.0,4.5
5,Dinosaur,AK,Dinoland USA,"thrill, small drops, dark, scary",1,0,0,1,0,1,...,1,1,40,3.25,1998-04-22,7854,21.503080,21 years 6 months 2 days,24.0,4.0
6,Dumbo the Flying Elephant,MK,Fantasyland,"spinning, slow",0,1,1,0,0,0,...,1,1,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,29.0,4.5
7,Expedition Everest,AK,Asia,"thrill, big drops, dark",1,0,0,0,1,1,...,1,1,44,2.75,2006-04-07,4947,13.544148,13 years 6 months 17 days,1.0,5.0
8,Frozen Ever After,EC,World Showcase,"slow, small drops, dark",0,0,1,1,0,1,...,1,1,0,5.00,2016-06-21,1219,3.337440,3 years 4 months 3 days,27.0,4.0
9,Gran Fiesta Tour Starring The Three Caballeros,EC,World Showcase,slow,0,0,1,0,0,0,...,1,1,0,8.00,2007-04-02,4587,12.558522,12 years 6 months 22 days,47.0,4.0
10,Haunted Mansion,MK,Liberty Square,"slow, dark",0,0,1,0,0,1,...,1,1,0,7.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,2.0,4.5
11,It's a Small World,MK,Fantasyland,slow,0,0,1,0,0,0,...,1,1,0,10.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,16.0,4.0
12,Journey Into Imagination with Figment,EC,Future World,"slow, dark",0,0,1,0,0,1,...,1,1,0,11.00,2002-06-01,6353,17.393566,17 years 4 months 23 days,53.0,3.0
13,Jungle Cruise,MK,Adventureland,slow,0,0,1,0,0,0,...,1,1,0,9.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,19.0,4.0
14,Kali River Rapids,AK,Asia,"thrill, water, small drops, spinning",1,1,0,1,0,0,...,1,1,38,3.50,1999-02-15,7555,20.684463,20 years 8 months 6 days,21.0,4.5
15,Kilimanjaro Safaris,AK,Africa,slow,0,0,1,0,0,0,...,1,1,0,18.50,1998-04-22,7854,21.503080,21 years 6 months 2 days,11.0,4.5
16,Living with the Land,EC,Future World,slow,0,0,1,0,0,0,...,1,1,0,13.75,1982-10-01,13536,37.059548,37 years 0 months 21 days,42.0,4.0
17,Mad Tea Party,MK,Fantasyland,spinning,0,1,0,0,0,0,...,1,1,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,20.0,4.0
18,Main Street Vehicles,MK,Main Street USA,slow,0,0,1,0,0,0,...,1,1,0,3.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,NaN,4.5
19,Mission Space,EC,Future World,"thrill, spinning, dark",1,1,0,0,0,1,...,1,1,40,5.75,2003-10-01,5866,16.060233,16 years 0 months 22 days,33.0,3.5
20,Na'vi River Journey,AK,Pandora,slow,0,0,1,0,0,0,...,1,1,0,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,25.0,4.0
21,Peter Pan's Flight,MK,Fantasyland,"slow, small drops",0,0,1,1,0,0,...,1,1,0,2.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,18.0,4.0
22,Pirates of the Caribbean,MK,Adventureland,"slow, small drops, dark",0,0,1,1,0,1,...,1,1,0,8.50,1973-12-17,16746,45.848049,45 years 10 months 5 days,12.0,4.5
23,Primeval Whirl,AK,Dinoland USA,"thrill, small drops, spinning",1,1,0,1,0,0,...,1,1,48,1.25,2002-04-18,6397,17.514031,17 years 6 months 6 days,41.0,4.0
24,Prince Charming Regal Carrousel,MK,Fantasyland,"slow, spinning",0,1,1,0,0,0,...,1,1,0,2.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,51.0,4.5
25,Rock 'n' Roller Coaster,HS,Sunset Boulevard,"thrill, big drops",1,0,0,0,1,0,...,1,1,48,1.25,1999-07-29,7391,20.235455,20 years 2 months 26 days,13.0,5.0
26,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",1,0,0,1,0,0,...,1,1,38,2.50,2014-05-28,1974,5.404517,5 years 4 months 27 days,10.0,4.5
27,Slinky Dog Dash,HS,Toy Story Land,"thrill, small drops",1,0,0,1,0,0,...,1,1,38,2.00,2018-06-30,480,1.314168,1 years 3 months 24 days,14.0,NaN
28,Soarin' Around the World,EC,Future World,"slow, small drops",0,0,1,1,0,0,...,1,1,40,5.00,2005-05-05,5284,14.466804,14 years 5 months 19 days,4.0,4.5
29,Space Mountain,MK,Tomorrowland,"thrill, big drops, dark",1,0,0,0,1,1,...,1,1,44,2.50,1975-01-15,16352,44.769336,44 years 9 months 7 days,5.0,4.5
30,Spaceship Earth,EC,Future World,"slow, dark",0,0,1,0,0,1,...,1,1,0,15.00,1982-10-01,13536,37.059548,37 years 0 months 21 days,22.0,4.5
31,Splash Mountain,MK,Frontierland,"thrill, water, big drops",1,0,0,0,1,0,...,1,1,40,11.00,1992-07-17,9959,27.266256,27 years 3 months 7 days,7.0,4.5
32,Star Tours,HS,Echo Lake,small drops,0,0,0,1,0,0,...,1,1,40,5.00,1989-12-15,10904,29.853525,29 years 10 months 7 days,15.0,4.5
33,Test Track,EC,Future World,"thrill, small drops",1,0,0,1,0,0,...,1,1,40,4.00,1999-03-16,7526,20.605065,20 years 7 months 8 days,23.0,4.5
34,The Barnstormer,MK,Fantasyland,small drops,0,0,0,1,0,0,...,1,0,35,1.00,1996-10-01,8422,23.058179,23 years 0 months 21 days,36.0,3.5
35,The Magic Carpets of Aladdin,MK,Adventureland,"slow, spinning",0,1,1,0,0,0,...,1,1,0,1.50,2001-05-23,6727,18.417522,18 years 5 months 1 days,44.0,4.0
36,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,0,0,1,0,0,0,...,1,1,0,3.25,1999-06-05,7445,20.383299,20 years 4 months 19 days,28.0,4.0
37,The Twilight Zone Tower of Terror,HS,Sunset Boulevard,"thrill, big drops, dark, scary",1,0,0,0,1,1,...,1,1,40,5.00,1994-07-22,9224,25.253936,25 years 3 months 2 days,3.0,5.0
38,Tomorrowland Speedway,MK,Tomorrowland,slow,0,0,1,0,0,0,...,1,1,32,4.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,38.0,3.5
39,Tomorrowland Transit Authority PeopleMover,MK,Tomorrowland,slow,0,0,1,0,0,0,...,1,1,0,10.00,1975-07-01,16185,44.312115,44 years 3 months 23 days,30.0,4.0
40,Toy Story Mania,HS,Toy Story Land,spinning,0,1,0,0,0,0,...,1,1,0,8.00,2008-05-31,4162,11.394935,11 years 4 months 24 days,6.0,4.5
41,TriceraTop Spin,AK,Dinoland USA,"slow, spinning",0,1,1,0,0,0,...,1,1,0,1.50,2002-03-31,6415,17.563313,17 years 6 months 24 days,45.0,4.0
42,Under the Sea,MK,Fantasyland,slow,0,0,1,0,0,0,...,1,1,0,6.25,2012-12-06,2512,6.877481,6 years 10 months 16 days,34.0,4.5
43,Walt Disney World Railroad,MK,Main Street USA,slow,0,0,1,0,0,0,...,1,1,0,20.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,48.0,4.0
44,Walt Disney's Carousel of Progress,MK,Tomorrowland,slow,0,0,1,0,0,0,...,1,1,0,20.75,1975-01-15,16352,44.769336,44 years 9 months 7 days,52.0,4.0
45,Wildlife Express Train,AK,Africa,slow,0,0,1,0,0,0,...,1,1,0,12.00,1998-04-22,7854,21.503080,21 years 6 months 2 days,NaN,3.5

In [21]:
df.dropna(subset=['TA_Stars'],inplace = True)
df

,Ride_name,Park_location,Park_area,Ride_type_all,Ride_type_thrill,Ride_type_spinning,Ride_type_slow,Ride_type_small_drops,Ride_type_big_drops,Ride_type_dark,...,Age_interest_teens,Age_interest_adults,Height_req_inches,Ride_duration_min,Open_date,Age_of_ride_days,Age_of_ride_years,Age_of_ride_total,TL_rank,TA_Stars
1,Astro Orbiter,MK,Tomorrowland,"spinning, slow",0,1,1,0,0,0,...,1,1,0,1.50,1995-02-25,9006,24.657084,24 years 7 months 27 days,43.0,3.5
2,Avatar Flight of Passage,AK,Pandora,thrill,1,0,0,0,0,0,...,1,1,44,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,9.0,5.0
3,Big Thunder Mountain Railroad,MK,Frontierland,"thirll, small drops",1,0,0,1,0,0,...,1,1,40,3.50,1980-09-23,14274,39.080082,39 years 0 months 29 days,8.0,4.5
4,Buzz Lightyear's Space Ranger Spin,MK,Tomorrowland,"spinning, slow",0,1,1,0,0,0,...,1,1,0,4.00,1998-10-07,7686,21.043121,21 years 0 months 15 days,32.0,4.5
5,Dinosaur,AK,Dinoland USA,"thrill, small drops, dark, scary",1,0,0,1,0,1,...,1,1,40,3.25,1998-04-22,7854,21.503080,21 years 6 months 2 days,24.0,4.0
6,Dumbo the Flying Elephant,MK,Fantasyland,"spinning, slow",0,1,1,0,0,0,...,1,1,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,29.0,4.5
7,Expedition Everest,AK,Asia,"thrill, big drops, dark",1,0,0,0,1,1,...,1,1,44,2.75,2006-04-07,4947,13.544148,13 years 6 months 17 days,1.0,5.0
8,Frozen Ever After,EC,World Showcase,"slow, small drops, dark",0,0,1,1,0,1,...,1,1,0,5.00,2016-06-21,1219,3.337440,3 years 4 months 3 days,27.0,4.0
9,Gran Fiesta Tour Starring The Three Caballeros,EC,World Showcase,slow,0,0,1,0,0,0,...,1,1,0,8.00,2007-04-02,4587,12.558522,12 years 6 months 22 days,47.0,4.0
10,Haunted Mansion,MK,Liberty Square,"slow, dark",0,0,1,0,0,1,...,1,1,0,7.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,2.0,4.5
11,It's a Small World,MK,Fantasyland,slow,0,0,1,0,0,0,...,1,1,0,10.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,16.0,4.0
12,Journey Into Imagination with Figment,EC,Future World,"slow, dark",0,0,1,0,0,1,...,1,1,0,11.00,2002-06-01,6353,17.393566,17 years 4 months 23 days,53.0,3.0
13,Jungle Cruise,MK,Adventureland,slow,0,0,1,0,0,0,...,1,1,0,9.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,19.0,4.0
14,Kali River Rapids,AK,Asia,"thrill, water, small drops, spinning",1,1,0,1,0,0,...,1,1,38,3.50,1999-02-15,7555,20.684463,20 years 8 months 6 days,21.0,4.5
15,Kilimanjaro Safaris,AK,Africa,slow,0,0,1,0,0,0,...,1,1,0,18.50,1998-04-22,7854,21.503080,21 years 6 months 2 days,11.0,4.5
16,Living with the Land,EC,Future World,slow,0,0,1,0,0,0,...,1,1,0,13.75,1982-10-01,13536,37.059548,37 years 0 months 21 days,42.0,4.0
17,Mad Tea Party,MK,Fantasyland,spinning,0,1,0,0,0,0,...,1,1,0,1.50,1971-10-01,17554,48.060233,48 years 0 months 22 days,20.0,4.0
18,Main Street Vehicles,MK,Main Street USA,slow,0,0,1,0,0,0,...,1,1,0,3.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,NaN,4.5
19,Mission Space,EC,Future World,"thrill, spinning, dark",1,1,0,0,0,1,...,1,1,40,5.75,2003-10-01,5866,16.060233,16 years 0 months 22 days,33.0,3.5
20,Na'vi River Journey,AK,Pandora,slow,0,0,1,0,0,0,...,1,1,0,5.00,2017-05-27,879,2.406571,2 years 4 months 28 days,25.0,4.0
21,Peter Pan's Flight,MK,Fantasyland,"slow, small drops",0,0,1,1,0,0,...,1,1,0,2.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,18.0,4.0
22,Pirates of the Caribbean,MK,Adventureland,"slow, small drops, dark",0,0,1,1,0,1,...,1,1,0,8.50,1973-12-17,16746,45.848049,45 years 10 months 5 days,12.0,4.5
23,Primeval Whirl,AK,Dinoland USA,"thrill, small drops, spinning",1,1,0,1,0,0,...,1,1,48,1.25,2002-04-18,6397,17.514031,17 years 6 months 6 days,41.0,4.0
24,Prince Charming Regal Carrousel,MK,Fantasyland,"slow, spinning",0,1,1,0,0,0,...,1,1,0,2.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,51.0,4.5
25,Rock 'n' Roller Coaster,HS,Sunset Boulevard,"thrill, big drops",1,0,0,0,1,0,...,1,1,48,1.25,1999-07-29,7391,20.235455,20 years 2 months 26 days,13.0,5.0
26,Seven Dwarfs Mine Train,MK,Fantasyland,"thrill, small drops",1,0,0,1,0,0,...,1,1,38,2.50,2014-05-28,1974,5.404517,5 years 4 months 27 days,10.0,4.5
28,Soarin' Around the World,EC,Future World,"slow, small drops",0,0,1,1,0,0,...,1,1,40,5.00,2005-05-05,5284,14.466804,14 years 5 months 19 days,4.0,4.5
29,Space Mountain,MK,Tomorrowland,"thrill, big drops, dark",1,0,0,0,1,1,...,1,1,44,2.50,1975-01-15,16352,44.769336,44 years 9 months 7 days,5.0,4.5
30,Spaceship Earth,EC,Future World,"slow, dark",0,0,1,0,0,1,...,1,1,0,15.00,1982-10-01,13536,37.059548,37 years 0 months 21 days,22.0,4.5
31,Splash Mountain,MK,Frontierland,"thrill, water, big drops",1,0,0,0,1,0,...,1,1,40,11.00,1992-07-17,9959,27.266256,27 years 3 months 7 days,7.0,4.5
32,Star Tours,HS,Echo Lake,small drops,0,0,0,1,0,0,...,1,1,40,5.00,1989-12-15,10904,29.853525,29 years 10 months 7 days,15.0,4.5
33,Test Track,EC,Future World,"thrill, small drops",1,0,0,1,0,0,...,1,1,40,4.00,1999-03-16,7526,20.605065,20 years 7 months 8 days,23.0,4.5
34,The Barnstormer,MK,Fantasyland,small drops,0,0,0,1,0,0,...,1,0,35,1.00,1996-10-01,8422,23.058179,23 years 0 months 21 days,36.0,3.5
35,The Magic Carpets of Aladdin,MK,Adventureland,"slow, spinning",0,1,1,0,0,0,...,1,1,0,1.50,2001-05-23,6727,18.417522,18 years 5 months 1 days,44.0,4.0
36,The Many Adventures of Winnie the Pooh,MK,Fantasyland,slow,0,0,1,0,0,0,...,1,1,0,3.25,1999-06-05,7445,20.383299,20 years 4 months 19 days,28.0,4.0
37,The Twilight Zone Tower of Terror,HS,Sunset Boulevard,"thrill, big drops, dark, scary",1,0,0,0,1,1,...,1,1,40,5.00,1994-07-22,9224,25.253936,25 years 3 months 2 days,3.0,5.0
38,Tomorrowland Speedway,MK,Tomorrowland,slow,0,0,1,0,0,0,...,1,1,32,4.75,1971-10-01,17554,48.060233,48 years 0 months 22 days,38.0,3.5
39,Tomorrowland Transit Authority PeopleMover,MK,Tomorrowland,slow,0,0,1,0,0,0,...,1,1,0,10.00,1975-07-01,16185,44.312115,44 years 3 months 23 days,30.0,4.0
40,Toy Story Mania,HS,Toy Story Land,spinning,0,1,0,0,0,0,...,1,1,0,8.00,2008-05-31,4162,11.394935,11 years 4 months 24 days,6.0,4.5
41,TriceraTop Spin,AK,Dinoland USA,"slow, spinning",0,1,1,0,0,0,...,1,1,0,1.50,2002-03-31,6415,17.563313,17 years 6 months 24 days,45.0,4.0
42,Under the Sea,MK,Fantasyland,slow,0,0,1,0,0,0,...,1,1,0,6.25,2012-12-06,2512,6.877481,6 years 10 months 16 days,34.0,4.5
43,Walt Disney World Railroad,MK,Main Street USA,slow,0,0,1,0,0,0,...,1,1,0,20.00,1971-10-01,17554,48.060233,48 years 0 months 22 days,48.0,4.0
44,Walt Disney's Carousel of Progress,MK,Tomorrowland,slow,0,0,1,0,0,0,...,1,1,0,20.75,1975-01-15,16352,44.769336,44 years 9 months 7 days,52.0,4.0
45,Wildlife Express Train,AK,Africa,slow,0,0,1,0,0,0,...,1,1,0,12.00,1998-04-22,7854,21.503080,21 years 6 months 2 days,NaN,3.5

In [22]:
x=df[['Ride_type_thrill',"Ride_type_spinning",'Ride_type_slow','Ride_type_small_drops','Ride_type_big_drops','Ride_type_dark','Ride_type_water','Age_interest_kids','Age_interest_tweens','Age_interest_teens','Age_interest_adults']]
y=df[['TA_Stars']]

In [23]:
!pip install TPOT

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting TPOT
  Downloading TPOT-0.12.0-py3-none-any.whl (87 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 87.4/87.4 kB 3.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.10/dist-packages (from TPOT) (1.22.4)
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.10/dist-packages (from TPOT) (1.10.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.10/dist-packages (from TPOT) (1.2.2)
Collecting deap>=1.2 (from TPOT)
  Downloading deap-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.9/139.9 kB 9.0 MB/s eta 0:00:00
Collecting update-checker>=0.16 (from TPOT)
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.10/dist-packages (from TPOT) (4.65.0)
Collecting stopit>=1.1.1 (from TPOT)
  Downloading stopit-1.1.2.tar.gz (18 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from TPOT) (1.5.3)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from TPOT) (1.2.0)
Requirement already satisfied: xgboost>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from TPOT) (1.7.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->TPOT) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.2->TPOT) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22.0->TPOT) (3.1.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from update-checker>=0.16->TPOT) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.24.2->TPOT) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->update-checker>=0.16->TPOT) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->update-checker>=0.16->TPOT) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->update-checker>=0.16->TPOT) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.3.0->update-checker>=0.16->TPOT) (3.4)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11938 sha256=6501a0f442ac4593f8e01cf4d9ab2a8ebba962241e8fc14f39b8aaf2f4210d96
  Stored in directory: /root/.cache/pip/wheels/af/f9/87/bf5b3d565c2a007b4dae9d8142dccc85a9f164e517062dd519
Successfully built stopit
Installing collected packages: stopit, deap, update-checker, TPOT
Successfully installed TPOT-0.12.0 deap-1.3.3 stopit-1.1.2 update-checker-0.18.0

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [25]:
from tpot import TPOTRegressor

In [29]:
tpot = TPOTRegressor(generations=4, population_size=20, verbosity=2, n_jobs=-1, cv=5)

In [31]:
! cat 'tpot_exported_pipeline.py'

cat: tpot_exported_pipeline.py: No such file or directory